@page "/"
@rendermode InteractiveServer

<PageTitle>The Nerd Collective - Components</PageTitle>

<div class="mb-6">
    <MudText Typo="Typo.h3" GutterBottom="true">The Nerd Collective Components</MudText>
    <MudText Typo="Typo.subtitle1">A collection of reusable Blazor components built with MudBlazor</MudText>
</div>

<MudPaper Class="pa-6 mb-6">
    <MudText Typo="Typo.h5" GutterBottom="true">Welcome</MudText>
    <MudText>
        This library provides a growing collection of production-ready Blazor components designed to work seamlessly with MudBlazor. 
        Browse the navigation menu to explore available components and learn how to use them in your projects.
    </MudText>
</MudPaper>

<MudGrid>
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-6 h-100">
            <MudText Typo="Typo.h6" GutterBottom="true">
                <MudIcon Icon="@Icons.Material.Filled.Dashboard" class="mr-2" />
                MudComponents
            </MudText>
            <MudText Class="mb-4">
                Pre-built MudBlazor components for common use cases.
            </MudText>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" FullWidth="true" href="/mud-quill-editor">
                View Components
            </MudButton>
        </MudPaper>
    </MudItem>

    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-6 h-100">
            <MudText Typo="Typo.h6" GutterBottom="true">
                <MudIcon Icon="@Icons.Material.Filled.Widgets" class="mr-2" />
                Components
            </MudText>
            <MudText Class="mb-4">
                Utility components and helpers for building better Blazor applications.
            </MudText>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" FullWidth="true" href="/components">
                Coming Soon
            </MudButton>
        </MudPaper>
    </MudItem>
</MudGrid>

<div class="mt-6">
    <MudText Typo="Typo.h5" GutterBottom="true">Company Info</MudText>
    <MudPaper Class="pa-4">
        <MudText>
            <MudLink Href="https://www.thenerdcollective.dk/" Target="_blank">
                <strong>The Nerd Collective Aps</strong>
            </MudLink>
        </MudText>
        <MudText>
            Built with ❤️ by <MudLink Href="https://github.com/janhjordie" Target="_blank">janhjordie</MudLink>
        </MudText>
    </MudPaper>
</div>
